.newLineStyle {
    line-height: 1%;
}

.popa {
    margin-left: 5%;
}

.gigolo {
    margin-left: 5%;
    line-height: 1%;
}

.lineColor {
    color: brown;
}

.newSize {
    font-size: 150%;
    line-height: 80%;
}